.root {
  background-color: transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0px solid transparent;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 13px;
  line-height: 2;
  border-radius: 3px;
  user-select: none;
  transition: background-color 0.2s ease;
  letter-spacing: 1px;
  border: 0;
  background-color: transparent;
  color: #fff;
  box-sizing: border-box;
}

.fullWidth {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.typeFilled {
  border: solid 2px var(--palette-primary-main);
  background-color: var(--palette-primary-main);
}

.typeOutlined {
  background-color: transparent;
  border: solid 2px var(--palette-primary-main);
  color: var(--palette-primary-main);
}

.sizeSmall {
  padding: 2px 8px;
}

.sizeDefault {
  padding: 4px 10px;
}

.sizeLarge {
  padding: 8px 15px;
}
