.root {
  background-color: transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 13px;
  line-height: 2;
  border-radius: 3px;
  user-select: none;
  transition: background-color 0.2s ease;
  letter-spacing: 1px;
  color: #fff;
  box-sizing: border-box;
}

.typeFilled.modePrimary {
  background-color: var(--palette-primary-main);
}

.typeFilled.modeSecondary {
  background-color: var(--palette-secondary-main);
}

.typeFilled.modeError {
  background-color: var(--palette-error-main);
}

.typeFilled.modeSuccess {
  background-color: var(--palette-success-main);
}

.typeOutlined {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
}

.typeOutlined.modePrimary {
  border-color: var(--palette-primary-main);
  color: var(--palette-primary-main);
}

.typeOutlined.modeSecondary {
  border-color: var(--palette-secondary-main);
  color: var(--palette-secondary-main);
}

.typeOutlined.modeError {
  border-color: var(--palette-error-main);
  color: var(--palette-error-main);
}

.typeOutlined.modeSuccess {
  border-color: var(--palette-success-main);
  color: var(--palette-success-main);
}

.sizeSmall {
  padding: 2px 8px;
}

.sizeDefault {
  padding: 4px 10px;
}

.sizeLarge {
  padding: 8px 15px;
}

.fullWidth {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
